@model EmployeeListViewModel
@using MvcTest.ViewModels
@{

    ViewBag.Title = "Index";

    //MvcTest.Models.Employee emp = (MvcTest.Models.Employee)ViewData["Employee"];
    MvcTest.Models.Employee emp = (MvcTest.Models.Employee)ViewBag.Employee;
}
<a href="/Authentication/Logout">Logout</a></div>

<hr />
<div>
    <table>
        <tr>
            <th>Employee Name</th>
            <th>Salary</th>
        </tr>
        @foreach (EmployeeViewModel item in Model.Employees)
            {
            <tr>
                <td> @item.EmployeeName </td>
                <td style="background-color:@item.SalaryColor"> @item.Salary </td>
            </tr>
        }
      
    </table>
    <a href="/Employee/AddNew">Add New</a>
</div>

